<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ChromeDriverPath" value="F://Automation//CreditRepairUserStatusAutomation//CreditRepairUserStatusAutomation//Drivers"/>
		<add key="ApplicationUrl" value="" />
		<add key="UserName" value="" />
		<add key="Password" value="" />
		<add key="OnboardStage" value="3" />
	</appSettings>
</configuration>